@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


body{
    font-family:'Roboto','Georgia';
    background:linear-gradient(to bottom, #aaffda,#5dc291);
    margin: 0;
    padding:0;
    display: flex; /*Permite a UI seja responsiva, flexível*/
    flex-direction: column; /*um elemento abaixo do outro*/
    justify-content: center;
    align-items: center;
    min-height: 100vh; /*altura mínima*/
}

form{
    background: rgba(255,255,255,0.8);
    padding: 16px;
    border-radius: 16px;
    width: 30%; /*largura*/
    box-shadow: 0 4px 8px rgb(0,0,0,0.95) /*Cria sombra*/ 
}
h1{
    color: rgb(20, 20, 20);
}

input,select{
    width: 90%;
    padding: 8px;
    border: 1px solid #FFF;
    border-radius: 8px;
    margin-bottom: 16px;
    margin-top: 4px;
    box-sizing: border-box;

}
label{
    display:block;
}